global:
  scrape_interval: 5s
  evaluation_interval: 10s

scrape_configs:
  - job_name: redis-exporter
    static_configs:
      - targets:
          - redis-exporter:9121
        labels:
          service: redis
  - job_name: prometheus
    static_configs:
      - targets:
          - localhost:9090
